.float-btn {
  z-index: 1;
  display: inline-block;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  line-height: 3rem;
  font-size: 1.5rem;
  text-align: center;
  background-color: rgba(222, 222, 222, .9);
  box-shadow: 0 1px 1.5px 0 rgba(0,0,0,.12), 0 1px 1px 0 rgba(0,0,0,.24);
  cursor: pointer;
  position: fixed;
  bottom: 70px;
  right: 20px;
}

.choices__inner {
  background-color: transparent;
}
