<html>
    <head>
	<title>Alfred</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.slim.min.js"></script>
	<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" media="screen">
    </head>
    <body>
	<div class="container">
	    <div class="page-header">
		<h1>Alfred: BAM Alignment Statistics</h1>
		<p>This is the web front end of <a href="https://github.com/tobiasrausch/alfred/">Alfred</a>, an efficient and versatile BAM alignment quality control method. You can use the web application to visualize and plot Alfred's statistic file. Please first QC your BAM file using <a href="https://github.com/tobiasrausch/alfred/">Alfred</a> and then upload the statistics file below.</p>
		<p><a href="https://www-db.embl.de/EMBLPersonGroup-PersonPicture/MailForm/?recipient=CP-60010497">Help</a></p>
	    </div>

	    <form action = "/alfred/upload" method = "POST" enctype = "multipart/form-data">
		<div class="form-group">
		    <label for="stats">Alfred alignment statistics file (stats.tsv.gz)</label>
		    <br>
		    <label class="btn btn-default btn-file">
			<input type="file" name="stats" id="stats" hidden />
		    </label>
		</div>
		<p></p>
		<button type = "submit" name = "submit" class = "btn btn-primary">Run Alfred</button>
	    </form>
	    {% if error %}
	    <p class="error"><strong>Error:</strong> {{ error }}
	    {% endif %}
	</div>
   </body>
</html>
